@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  --bg-gradient: radial-gradient(circle at 50% 50%, rgb(24, 24, 24) 100%, rgba(255, 255, 255, 0) 100%);
  --bg-noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.43' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --background: var(--bg-gradient), var(--bg-noise);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #0f0f0f;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(250%) brightness(200%) contrast(125%);
  pointer-events: none;
  mask: var(--bg-gradient);
  -webkit-mask: var(--bg-gradient);
  mask-composite: exclude;
  -webkit-mask-composite: exclude;
}

.uiWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.uiWrapper::-webkit-scrollbar {
  display: none;
}
.uiWrapper:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.uiWrapper h1 {
  font-family: "Jersey 20", sans-serif;
  font-size: 4rem;
  line-height: normal;
}
.uiWrapper label {
  font-size: 1.2rem;
}
.uiWrapper select {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.uiWrapper select:hover {
  background-color: #2a2a2a;
  border-color: #6d6d6d;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.uiWrapper select:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.uiWrapper input {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.uiWrapper input:hover {
  background-color: #2a2a2a;
  border-color: #6d6d6d;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.uiWrapper input:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.uiWrapper input#playerColor {
  position: relative;
  width: 100%;
  padding: 0.1rem !important;
}
.uiWrapper input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4d4d4d;
  border-radius: 50%;
  cursor: pointer;
}
.uiWrapper input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4d4d4d;
  border-radius: 50%;
  cursor: pointer;
}
.uiWrapper input::-webkit-color-swatch {
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px !important;
}
.uiWrapper input::-moz-color-swatch {
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px !important;
}
.uiWrapper span {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.uiWrapper .volume-container {
  display: flex;
  align-items: center; /* Vertically center the input and span */
  gap: 10px; /* Add spacing between the input and span */
}
.uiWrapper #volumeValue {
  display: inline-block;
  width: 2.5ch; /* Reserve space for up to 3 digits */
  text-align: center; /* Center the text inside the span */
}

.hidden {
  display: none !important;
}

.button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #2a2a2a;
  border-color: #6d6d6d;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.button.green {
  background-color: #2c7a28;
  border-color: #3c9a38;
}
.button.green:hover {
  background-color: #39913a;
  border-color: #4ab54a;
}
.button.blue {
  background-color: #344e81;
  border-color: #4468a5;
}
.button.blue:hover {
  background-color: #445e91;
  border-color: #5478b5;
}
.button.red {
  background-color: #7a2828;
  border-color: #9a3838;
}
.button.red:hover {
  background-color: #913939;
  border-color: #b54a4a;
}
.button.yellow {
  background-color: #7a7a28;
  border-color: #9a9a38;
}
.button.yellow:hover {
  background-color: #919139;
  border-color: #b5b54a;
}
.button.gray {
  background-color: gray;
  border-color: darkgray;
}
.button.gray:hover {
  background-color: darkgray;
  border-color: dimgray;
}
.button .progress-bar {
  width: 90%;
  height: 10px;
  background: #444;
  border-radius: 5px;
  margin: 10px auto;
  overflow: hidden;
}
.button .progress-bar .progress-fill {
  height: 100%;
  background: #4caf50;
  transition: width 0.3s;
}

.data-display {
  position: absolute;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#timer {
  top: 0.5rem; /* Position at the top */
  left: 0.5rem; /* Align to the left */
}

#killCount {
  top: 0.5rem; /* Position at the top */
  right: 0.5rem; /* Align to the right */
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
}

#achievements {
  --position: -13.5rem; /* Adjust this value to move the element */
  top: var(--position);
  right: var(--position);
  scale: 0.15;
}/*# sourceMappingURL=style.css.map */